 <div class="message-input">
<%= form_with model: message, class: "chat" do |f| %>
    <%= f.hidden_field :chatroom_id, value: message.chatroom_id %>
    <%= f.hidden_field :user_id, value: message.user_id %>
    <%= f.text_field :content, placeholder: "Type your message here..." %>
    <%= f.submit :submit %>
<% end %>
</div>
