<h1>This is the tour path for <%= @site.title %>! </h1>

<div class="message-rooms">
  <% if @message_home %>
    <div class="message-room-holder home">
      <div class="message-container">
        <%= render "messages/list", messages: @home_room %>
      </div>
      <div class="form-container">
        <%= render "messages/form", message: @message_home, class_name: "home" %>
      </div>
    </div>
  <% end %>
  <div class="message-room-holder away">
    <div class="message-container">
        <%= render "messages/list", messages: @away_room %>
    </div>
    <div class="form-container">
      <%= render "messages/form", message: @message_away, class_name: "away" %>
    </div>
  </div>
</div>


<script>
const user_site_id = "<%= @visit_helper.visitors_own_site && @visit_helper.visitors_own_site.id %>"
</script>
