<%= render 'display', site: @site %>

<%= render 'bottom_bar', visit_helper: @visit_helper %>

<div class="message-rooms">
  <div class="titles">
    <% if @visit_helper.visitors_own_site %>
      <h3 class="title home"><%= @visit_helper.visitors_own_site.title %></h3>
    <% end %>
    <h3 class="title away active">
      <%= @site.title %>
    </h3>
  </div>
  <div class="message-holders">
    <% if @message_home %>
      <div class="message-room-holder home">
        <div class="message-container">
          <%= render "messages/list", messages: @home_room, current_user_id: @current_user_id %>
        </div>
        <div class="messages-form-container">
          <%= render "messages/form", message: @message_home, class_name: "home", autocomplete: "off" %>
        </div>
      </div>
    <% end %>
    <div class="message-room-holder away">
      <div class="message-container">
          <%= render "messages/list", messages: @away_room, current_user_id: @current_user_id %>
      </div>
      <div class="messages-form-container">
        <%= render "messages/form", message: @message_away, class_name: "away", autocomplete: "off" %>
      </div>
    </div>
  </div>
</div>


<script>
const user_site_id = "<%= @visit_helper.visitors_own_site && @visit_helper.visitors_own_site.id %>"
const current_user_id = "<%= @current_user_id %>"
</script>
