<!DOCTYPE html>
<html>
  <head>
    <title>ScienceFair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "helpers/nav" %>

    <div class="flash">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
    
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</html>
